---
- name: Installation Mysqlversion 8.4
  hosts: db
  become: yes
  tasks:
  - name: Download MySQL GPG key
    ansible.builtin.get_url:
      url: https://repo.mysql.com/RPM-GPG-KEY-mysql-2022
      dest: /usr/share/keyrings/mysql-archive-keyring.gpg
      mode: '0644'
  - name: Add MySQL 8.4 repository
    ansible.builtin.apt_repository:
      repo: "deb [signed-by=/usr/share/keyrings/mysql-archive-keyring.gpg] http://repo.mysql.com/apt/ubuntu jammy mysql-8.4-lts"
      state: present
  - name: Install MySQL Server
    ansible.builtin.apt:
      name: mysql-server  
      update_cache: yes